05_calculadora_REST/WebContent/wsdl/CalculadoraWS.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service" xmlns:intf="http://service" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="multiplica">
    <complexType>
     <sequence>
      <element name="a" type="xsd:int"/>
      <element name="b" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="multiplicaResponse">
    <complexType>
     <sequence>
      <element name="multiplicaReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="suma">
    <complexType>
     <sequence>
      <element name="a" type="xsd:int"/>
      <element name="b" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="sumaResponse">
    <complexType>
     <sequence>
      <element name="sumaReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="cuadrado">
    <complexType>
     <sequence>
      <element name="x" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
   <element name="cuadradoResponse">
    <complexType>
     <sequence>
      <element name="cuadradoReturn" type="xsd:int"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="multiplicaResponse">

      <wsdl:part element="impl:multiplicaResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="multiplicaRequest">

      <wsdl:part element="impl:multiplica" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="cuadradoRequest">

      <wsdl:part element="impl:cuadrado" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sumaRequest">

      <wsdl:part element="impl:suma" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="sumaResponse">

      <wsdl:part element="impl:sumaResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="cuadradoResponse">

      <wsdl:part element="impl:cuadradoResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="CalculadoraWS">

      <wsdl:operation name="multiplica">

         <wsdl:input message="impl:multiplicaRequest" name="multiplicaRequest">

       </wsdl:input>

         <wsdl:output message="impl:multiplicaResponse" name="multiplicaResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="suma">

         <wsdl:input message="impl:sumaRequest" name="sumaRequest">

       </wsdl:input>

         <wsdl:output message="impl:sumaResponse" name="sumaResponse">

       </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="cuadrado">

         <wsdl:input message="impl:cuadradoRequest" name="cuadradoRequest">

       </wsdl:input>

         <wsdl:output message="impl:cuadradoResponse" name="cuadradoResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CalculadoraWSSoapBinding" type="impl:CalculadoraWS">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="multiplica">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="multiplicaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="multiplicaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="suma">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="sumaRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="sumaResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

      <wsdl:operation name="cuadrado">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="cuadradoRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="cuadradoResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CalculadoraWSService">

      <wsdl:port binding="impl:CalculadoraWSSoapBinding" name="CalculadoraWS">

         <wsdlsoap:address location="http://localhost:8080/02_calculadora_ws/services/CalculadoraWS"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
